[submodule "submodules/pivotick"]
	path = submodules/pivotick
	url = https://github.com/Pivotick/Pivotick.git
[submodule "submodules/misp-taxonomies"]
	path = submodules/misp-taxonomies
	url = https://github.com/MISP/misp-taxonomies.git
[submodule "submodules/misp-galaxy"]
	path = submodules/misp-galaxy
	url = https://github.com/MISP/misp-galaxy.git
