{% extends 'base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
<div class="container my-5">
   <h2 class="mb-3  text-info">Register</h2> 

    <div class="" id="main-container">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {% if not edit_mode %}
                {{form.user_id}}
            {%endif%}
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        {{form.first_name.label(class_="col-form-label")}}:  <span style="color:red">*</span>
                        {{form.first_name(class_="form-control")}}
                        {% if form.first_name.errors %}
                            <div style="color: red;">{{form.first_name.errors[0] | safe}}</div>
                        {%endif%}
                    </div>
                    <div class="col">
                        {{form.last_name.label(class_="col-form-label")}}: <span style="color:red">*</span>
                        {{form.last_name(class_="form-control")}}
                        {% if form.last_name.errors %}
                            <div style="color: red;">{{form.last_name.errors[0] | safe}}</div>
                        {%endif%}
                    </div>
                </div>
                <div class="col">
                    {{form.email.label(class_="col-form-label")}}:  <span style="color:red">*</span>
                    {{form.email(class_="form-control")}}
                    {% if form.email.errors %}
                        <div style="color: red;">{{form.email.errors[0] | safe}}</div>
                    {%endif%}
                </div>
                <div class="col">
                    <label for="password" class="col-form-label">{{ form.password.label }}</label>  <span style="color:red">*</span>
                    <div class="input-group">
                        {{ form.password(class_="form-control pe-5", id="password") }}
                        <span class="input-group-text" style="cursor:pointer;" onclick="togglePassword()">
                            <i class="fa fa-eye" id="togglePasswordIcon"></i>
                        </span>
                    </div>
                    {% if form.password.errors %}
                        <div style="color: red;">{{ form.password.errors[0] | safe }}</div>
                    {% endif %}
                </div>

                <script>
                    function togglePassword() {
                        const passwordInput = document.getElementById("password");
                        const icon = document.getElementById("togglePasswordIcon");

                        const isPassword = passwordInput.type === "password";
                        passwordInput.type = isPassword ? "text" : "password";

                        // Change icon
                        icon.classList.toggle("fa-eye");
                        icon.classList.toggle("fa-eye-slash");
                    }
                </script>
                <div class=" text-center" style="margin-top: 10px;">
                    {{form.submit(class='btn btn-primary')}}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}