/* Thèmes clair et sombre */
  body.light-mode {
      background-color: #f8f9fa;
      color: #212529;
  }
  body.dark-mode {
      background-color: #121212;
      color: #f1f1f1;
  }
  .navbar.light-mode, .sidebar.light-mode {
      background-color: #ffffff;
      color: #212529;
  }
  .navbar.dark-mode, .sidebar.dark-mode {
      background-color: #1f1f1f;
      color: #f1f1f1;
  }
  a, a:hover {
      color: inherit;
  }



