{% extends "base.html" %}

{% block content %}
<div class="container my-5" id="main-container">
    <h2 class="mb-3 text-info">Conversion History</h2>

    <div class="mb-3 d-flex align-items-end ">
        <div class="w-75 me-2">
            <label for="conversionFilter" class="form-label">Filter by conversion:</label>
            <select id="conversionFilter" class="form-select" v-model="filter_type">
                <option value="">All</option>
                <option value="MISP_TO_STIX">MISP to STIX</option>
                <option value="STIX_TO_MISP">STIX to MISP</option>
            </select>
        </div>

        <div class="w-75 me-2">
            <label for="sortOrder" class="form-label">Sort by date:</label>
            <select id="sortOrder" class="form-select" v-model="sort_order">
                <option value="desc">Newest first</option>
                <option value="asc">Oldest first</option>
            </select>
        </div>

        <div class="w-25 me-2 d-flex flex-column justify-content-end">
            <label for="myConvertsOnly" class="form-label">My converts only:</label>
            <div class="form-check form-switch mt-1">
                <input class="form-check-input" type="checkbox" id="myConvertsOnly" v-model="only_mine"
                    style="width: 3rem; height: 1.5rem; transform: translateY(3px);">
            </div>
        </div>

        <div class="w-25 d-flex flex-column justify-content-end">
            <button class="btn btn-primary w-100" @click="fetchConvertHistory(1)">
                Apply
            </button>
        </div>
    </div>



    
    <!-- Table of conversions -->
    <div class="row" v-if="convert_history.length > 0">
        <div class="col-12 mb-3" v-for="item in convert_history" :key="item.id">
            <div class="card mb-3 bg-secondary text-light" @click="seeDetails(item.id)">
                <div class="card-body ">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title mb-0 text-truncate text-warning">
                            <i class="card-title text-warning" title="Public/Private"></i>
                            [[ item.name ]]
                        </h5>
                        <span>Created: [[ item.created_at ]]</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="card-text text-truncate">[[ item.description ]]</p>
                        <template v-if="item.user_id">

                            <span class="badge rounded-pill text-bg-primary">
                                [[ item.author ]]
                            </span>

                        </template>
                    </div>
                    <div class="d-flex gap-2">
                        {% if current_user.is_authenticated %}
                            <template v-if="parseInt('{{current_user.id}}') == item.user_id || current_user_is_admin">
                                <!-- Bouton Delete -->
                                <button type="button" 
                                        class="btn btn-danger btn-sm" 
                                        title="Delete the conversion" 
                                        data-bs-toggle="modal" 
                                        :data-bs-target="'#delete_item_modal_'+item.id" @click.stop>
                                    <i class="fa-solid fa-trash fa-fw"></i>
                                </button>
                            </template>
                        {% endif %}
                    </div>
                    <!-- Modal Delete -->
                    <div class="modal fade" :id="'delete_item_modal_'+item.id" tabindex="-1" aria-labelledby="delete_item_modal" aria-hidden="true" @click.stop>
                        <div class="modal-dialog modal-lg">
                            <div style="background-color:var(--color-sidebar);" class="modal-content">
                                <div class="modal-header">
                                    <h2 id="delete_item_modal" style="color: var( --color-text);">
                                        Delete [[ item.name ]] ?
                                    </h2>
                                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click.stop>Close</button>
                                    <button class="btn btn-danger" @click="deleteItem(item.id)" @click.stop>
                                        <i class="fa-solid fa-trash"></i> Confirm
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>


    <!-- Empty state -->
    <div v-else>
        <span>No conversion register for the moment</span>
    </div>

    <!-- Pagination -->
    <div v-if="convert_history.length > 0">
        <nav aria-label="Page navigation example" class="mt-4">
            <ul class="pagination justify-content-center">
                <li class="page-item" :class="{disabled: current_page === 1}">
                    <button class="page-link" @click="fetchConvertHistory(current_page - 1)">Previous</button>
                </li>
                <li class="page-item" v-for="page in total_pages" :key="page"
                    :class="{active: current_page === page}">
                    <button class="page-link" @click="fetchConvertHistory(page)">[[ page ]]</button>
                </li>
                <li class="page-item" :class="{disabled: current_page === total_pages}">
                    <button class="page-link" @click="fetchConvertHistory(current_page + 1)">Next</button>
                </li>
            </ul>
        </nav>
    </div>
</div>


{% endblock %}

{% block script %}
<script type="module">
const { createApp, ref } = Vue
import { display_toast, message_list } from '/static/js/toaster.js'
createApp({
    delimiters: ['[[', ']]'],
    setup() {
        const convert_history = ref([])
        const current_page = ref(1)
        const total_pages = ref(1)
        const filter_type = ref('')
        const sort_order = ref('desc')
        const current_user_is_admin = ref()
        const only_mine = ref("false")


        const currentUserId = "{{ current_user.id if current_user.is_authenticated else 'null' }}";
        const isAuthenticated = "{{ 'true' if current_user.is_authenticated else 'false' }}";


        async function fetchConvertHistory(page) {
            if (page < 1) return
            const params = new URLSearchParams({
                page: page,
                filter_type: filter_type.value || '',
                sort_order: sort_order.value || 'desc',
                only_mine: only_mine.value  
            })
            const res = await fetch('/convert/get_convert_page_history?' + params.toString())
            if (res.ok) {
                const data = await res.json()
                convert_history.value = data.list
                total_pages.value = data.total_page
                current_page.value = page
            }
        }

        function copyText(text, event) {
            const btn = event.target.closest("button")
            const originalHTML = btn.innerHTML
            navigator.clipboard.writeText(text).then(() => {
                btn.innerHTML = '<i class="fas fa-check"></i> Copied!'
                setTimeout(() => { btn.innerHTML = originalHTML }, 1500)
            }).catch(err => console.error('Copy failed', err))
        }

        // Initial fetch
        fetchConvertHistory(1)

        async function deleteItem(id) {
            const params = new URLSearchParams({ id })
            const res = await fetch('/convert/delete_item?' + params.toString())

            if (res.status === 200) {
                fetchConvertHistory(current_page)

                const myModalEl = document.getElementById('delete_item_modal_' + id)
                const modal = bootstrap.Modal.getInstance(myModalEl)
                modal.hide()
            } 
            else if (res.status === 403) {
                window.location.href = '/account/login'
                return
            }
            display_toast(res)
        }

        async function fetchCurrentUser() {
            const res = await fetch('/get_current_user')
            const data = await res.json()
            current_user_is_admin.value = data.user
        }
        fetchCurrentUser()

        function seeDetails(id){
            window.location.href = "/convert/detail/" + id;
        }

        return {
            message_list,
            convert_history,
            current_page,
            total_pages,
            fetchConvertHistory,
            copyText,
            filter_type,
            sort_order,
            deleteItem,
            current_user_is_admin,
            only_mine,
            currentUserId,
            isAuthenticated,
            seeDetails
        }
    }
}).mount('#main-container')
</script>
{% endblock %}
